@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #021f31;
  color: white;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #021f31;
}
::-webkit-scrollbar-thumb {
  background: #217e6d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #65e766;
}

.perspective-1000 {
  perspective: 1000px;
}
